@import url("../fonts/fonts.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

button {
  height: 3.6rem;
  padding: 0.7em;
  display: block;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-family: RobotoCondensed, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
  transform: none;
  transition: transform 0.7s;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
}

.header {
  background: url("../images/screen1-main-bg.avif") center center/cover no-repeat;
  min-height: 800px;
  &__wrapper {
    padding: 2.1rem 20px 1rem;
  }
}

.header .logo__img {
  margin: 0 auto;
  height: 4rem;
  width: 5rem;
  display: block;
}

.header .logo__title {
  margin: 0.8rem auto 0;
  max-width: 60vw;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}

.header .header__subtitle {
  margin: 1rem auto 0;
  max-width: 80vw;
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #f9bf3b;
}

.header .header__main {
  font-style: normal;
  font-weight: 900;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
}

.header h1 {
  margin-top: 53px;
}
.header h2.header__subtitle {
  margin-top: 20px;
}

.header .promo__text {
  margin: 1.5rem auto 0;
  max-width: 80vw;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
}

.header .promo__text span {
  color: #f9bf3b;
  text-transform: uppercase;
  font-weight: 700;
}
.header .promo__btn {
  margin: 72px auto 0;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.7s;
}
.header .more__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 70px;
}

.more {
  margin: 0 auto;
  width: 30%;
  height: 20px;
}
.more .more__img {
  display: block;
  margin: 20px auto 0;
  padding: 15px;
  width: 17%;
  max-width: 80px;
  max-height: 60px;
  transform: translateY(0px);
  transition:
    translateY 2s,
    top 2s;
}

.more:hover .more__img {
  transform: translateY(10px);
  transition:
    translateY 2s,
    top 2s;
}
.about {
  background-color: #efefef;
}

.about__wrapper {
  padding: 50px 20px 75px;
}
.about .about__header {
  font-style: normal;
  font-weight: normal;
  font-size: 1.9rem;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
}
.divider {
  width: 220px;
  height: 0.3rem;
  background: #f9bf3b;
  margin: 18px auto 0;
}
.about .about__descr {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  text-align: center;
  color: #4a4a4a;
  margin-top: 18px;
}

.wrap {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.wrap .notebook {
  justify-content: space-between;
}

.notebook__img {
  max-width: 345px;
  max-height: 200px;
}
.wrap .notebook .notebook__descr {
  width: 370px;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  color: #4a4a4a;
  margin-top: 26px;
}
.optimization {
  min-height: 578px;
  margin-top: 78px;
}
.optimization .wrapper {
  position: relative;
  padding: 10px 20px 50px;
}
.optimization .optimization__img {
  position: absolute;
  left: -240px;
  z-index: -1;
}
.optimization .text {
  max-width: 750px;
  position: absolute;
  left: 389px;
}
.optimization .text .optimization__title {
  font-style: normal;
  font-weight: 900;
  font-size: 1.9rem;
  text-transform: uppercase;
  color: #299cbd;
}
.optimization .text .optimization__text {
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  color: #4a4a4a;
  margin-top: 15px;
}

.bold {
  font-weight: 700;
}
.result {
  min-height: 447px;
  background: url("../images/second_bg.avif") center center/cover no-repeat;
  &__wrapper {
    padding: 86px 20px 70px;
  }
}
.result .result__title {
  font-style: normal;
  font-weight: normal;
  font-size: 1.9rem;
  text-align: center;
  text-transform: uppercase;
  color: #efefef;
}
.result .round {
  height: 118px;
  width: 118px;
  background-color: #b4e2ff;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result .item__img {
  max-height: 65px;
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.result .item__description {
  width: 230px;
  margin-top: 24px;
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  text-align: center;
  color: #efefef;
}

.gift {
  min-height: 631px;
  background-color: #efefef;
  &__wrapper {
    padding: 86px 20px 87px;
  }
}
.gift .gift__img {
  max-width: 154px;
  max-height: 174px;
  display: block;
  margin: 0 auto;
}
.gift .gift__text {
  margin: 3rem auto 0;
  max-width: 80vw;
  max-width: 1050px;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.4;
  text-align: center;
  color: #252525;
}
.gift .gift__btn {
  margin: 50px auto 0;
}

.webinar {
  min-height: 512px;
  &__wrapper {
    padding: 81px 20px 50px;
  }
}
.webinar .webinar__img {
  display: block;
  margin: 0 auto;
  max-width: 345px;
  max-height: 200px;
}
.webinar .webinar__title {
  margin: 2.5rem auto 0;
  max-width: 80vw;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9rem;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
}

.webinar .date {
  margin: 2rem auto 0;
  max-width: 80vw;
  font-style: normal;
  font-weight: 900;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #299cbd;
}

.webinar .webinar__text {
  margin: 1.8rem auto 0;
  max-width: 80vw;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  text-align: center;
  color: #4a4a4a;
}

.footer {
  min-height: 169px;
  background-color: #1a1a1a;
  padding: 57px 0 69px 0;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 500px;
  text-align: center;
  color: #888888;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  text-decoration-line: underline;
}
.footer__link {
  display: block;
  margin: 0 auto;
  max-width: 40vw;
  color: #888888;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  text-decoration: none;
}

.links__up {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.underlined {
  text-decoration: underline;
  margin: 0;
}

.layout {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  padding: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.5);
  z-index: 50;
}

.modal {
  position: relative;
  margin: 0 auto;
  padding: 1.5rem;
  width: 50vw;
  height: 55vh;
  min-height: 500px;
  background-color: #efefef;
  border-radius: 5px;

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 50px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
    input,
    label,
    textarea {
      width: 40vw;
    }

    input,
    textarea {
      padding: 20px;
      border: none;
      outline: none;
      opacity: 0.7;
      color: #f9bf3b;
      font-size: 1.2rem;
      font-weight: 600;
    }

    textarea {
      resize: none;
    }

    input {
      height: 45px;
    }
  }
}

.layout.visible {
  display: flex;
}

@media (max-width: 1440px) {
  .optimization {
    .text {
      position: static;
      margin: 0 auto;
      max-width: 45vw;
    }

    .optimization__img {
      position: static;
      margin: 0 auto;
      display: block;
      max-width: 45vw;
      object-fit: contain;
    }
  }
}

@media (max-width: 945px) {
  html {
    font-size: 14px;
  }

  .optimization {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    .text {
      position: static;
      width: 100%;
      text-align: justify;
      max-width: 78vw;
    }

    .optimization__img {
      position: static;
      max-width: 85vw;
    }
  }
}

@media (max-width: 745px) {
  .links__up {
    margin: 0 auto;
    flex-wrap: wrap;
    a:nth-child(3) {
      width: 225px;
      max-width: 80vw;
    }
  }

  .footer__link {
    max-width: 80vw;
  }
}

@media (max-width: 530px) {
  html {
    font-size: 10px;
  }

  .footer__links {
    width: 100%;
  }

  .links__up {
    margin-bottom: 7px;
    flex-direction: column;
  }

  .symbol {
    display: none;
  }

  .header {
    min-height: 610px;
  }

  .header .promo__btn {
    margin: 40px auto 0;
  }

  .header .more__text {
    margin-top: 40px;
  }

  .more .more__img {
    max-width: 65px;
  }

  .wrap .notebook {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .notebook__img {
    max-width: 230px;
    max-height: 140px;
  }

  .wrap .notebook .notebook__descr {
    max-width: 65vw;
  }

  .result .item__description {
    width: 200px;
  }

  .result .item__img {
    max-height: 45px;
    max-width: 45px;
  }

  .result .round {
    height: 60px;
    width: 60px;
  }

  .result__item {
    width: 200px;
  }

  .webinar .webinar__img {
    max-width: 65vw;
  }
}
